.topMangaPage{
    background: black;
    background-size: cover;
    height: auto;    
}

.oneShotPage{
    background: black;
    background-size: cover;
    height: auto;   
}

.doujinshiPage{
    background: black;
    background-size: cover;
    height: auto;   
}

.lightNovelPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.novelPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.manhwaPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.manhuaPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.popularPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.favoritePage{
    background: black;
    background-size: cover;
    height: auto;  
}