.landingPage{
  background: black;
  background-size: cover;
  height: 100vh;
}

.randomPage{
  background: black;
  background-size: cover;
  height: 100vh;    
}

.noPage{
  background: black;
  background-size: cover;
  height: 100vh;   
}

.intro {
    height: 300px;
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
}

.pageTitle{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    padding-top: 50px;
    padding-bottom: 30px;
}

.imageCard {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 500px;
}

.navBar{
  border-radius: 0px 0px 10px 10px;
}

.animeNavBar{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
}

.animeNavBarContainer{
  border-radius: 10px;
}

.mangaNavBar{
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 300px;
  padding-top: 70px;
}

.mangaNavBarContainer{
  border-radius: 10px;
}

.notFoundText{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: white;
}
  
.random{
  padding-top: 50px;
  padding-bottom: 50px;
}