.animePage{
    background: black;
    background-size: cover;
    height: auto;    
}

.seasonPage{
    background: black;
    background-size: cover;
    height: auto;    
}

.topAnimePage{
    background: black;
    background-size: cover;
    height: auto    ;    
}

.airingPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.upComingPage{
    background: black;
    background-size: cover;
    height: auto;    
}

.tvPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.moviePage{
    background: black;
    background-size: cover;
    height: auto;  
}

.ovaPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.onaPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.specialPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.popularPage{
    background: black;
    background-size: cover;
    height: auto;  
}

.favoritePage{
    background: black;
    background-size: cover;
    height: auto;  
}


